/* 重置滚动条 */
::-webkit-scrollbar {width:4px!important;height:7px;}
::-webkit-scrollbar-button {display:none;}
::-webkit-scrollbar-thumb {border-radius:3px;background: #45A5DB;}
::-webkit-scrollbar-track {width:4px;height:7px;background:transparent;}
::-webkit-scrollbar-track-piece {background:transparent;}

input, button, select, textarea {
    outline: none;
}
/* ... */
.popup-content {
    min-width: 220px;
    min-height: 100px;
    max-width: 350px;
  }

  .app-name {
    font-size: 14px;
    text-transform: uppercase;
    color: #888888;
    text-align: center;
    margin: 0 auto 1em auto;
    padding: 0;
  }
  .tip {
      font-size: 12px;
      color: #ccc;
  }
  
 